<section class="our-work-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2> latest Projects </h2>
        <hr class="u-title-hr">
    </div> 
    <div class="container">
        <div class="row ">
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 project-col">
                <div class="project-box"> 
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box"> 
                </div>
            </div>
            <div class="col-md-4 project-col">
                <div class="project-box">
                </div>
            </div>
        </div>
        <div class="row more">
            <button type="button" class="btn btn-outline-primary more-btn">More</button>
        </div>
    </div>
</section>
