$color-black : #3d3d3d;
$color-primary : #A9030A;
$color-white: #ffffff;
$color-lightgrey: #d3d3d3;

/* Colors for Work Process Section */

$color-lightpink : #EE2A7B;
$color-darkpink  : #AB1E61;
$color-lightblue : #27C1E1;
$color-darkblue  : #1C75BC;
$color-lightgreen : #7CC63F;
$color-darkgreen  : #009444;
$color-lightorange : #FBB040;
$color-darkorange  : #F15A29;
$color-morebtncolor: #ff3333;