/* $primary-color = A9030A*/




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: lightgrey !important;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.u-center-text {
    text-align: center !important;
}