@import "../app.component.scss";
@import "../utilities/colors.scss";

.home-section {
  position: relative;
  height: 75vh;
  min-height: 35rem;
  width: 100%;
  background-color: black;
}

.company-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.work-process-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  //height: 95vh;

  &--hr {
    border-top: 3px solid black;
    margin-left: 14rem;
    margin-right: 14rem;
  }
  .container {
    margin: 0 auto;
  }
  .process-box {
    margin: 3rem 3rem 3rem 3rem;
    text-align: center;
    height: auto;
    width: auto;
    position: relative;

    &__icon {
      margin-right: 3rem;
      width: fit-content;
      border-radius: 50%;
      height: 12vh;
      position: absolute;
      right: 0rem; 
      top: -3.8rem; 
      z-index: 1;
      background-color: $color-white;
    
       img {
         background-size: cover;
         width: 5rem;
       }
       &--border1 {
        border: .4rem solid $color-darkpink;
       }
       &--border2 {
        border: .4rem solid $color-darkblue;
       }
       &--border3 {
        border: .4rem solid $color-darkgreen;
       }
       &--border4 {
         border: .4rem solid $color-darkorange;
       }
    }

    &__text{
      //margin-top: -1rem;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;
      border: .2rem transparent;
      height: 40vh;
      clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 50% 100%, 0% 89%);
      color: $color-white;
      font-family: 'Didact Gothic', sans-serif;
      text-align: center;

      &--hr {
        padding-top: 1rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid $color-white;
      }

      &--title {
        margin-top: .5rem;
        text-transform: uppercase;
      }

      &--description {
        margin-top: .5rem;
        font-size: .9rem;
      }
    }

    &__design1{
      margin-top: -1.5rem;
      height: 10vh;
      clip-path: polygon(50% 43%, 100% 0%, 100% 50%, 50% 93%, 0 50%, 0 0%);
    }

    &__design2{
     margin-top: -1.6rem;
     clip-path:polygon(50% 75%, 100% 0, 100% 25%, 50% 100%, 0 25%, 0 0);
     height: 5vh;
    }

    &--color1 {
      background-image: linear-gradient($color-lightpink,$color-darkpink);
       &--rev {
        background-image: linear-gradient($color-darkpink, $color-lightpink);
       }
    }
    &--color2 {
      background-image: linear-gradient($color-lightblue,$color-darkblue);
      &--rev {
        background-image: linear-gradient($color-darkblue, $color-lightblue);
       }
    }
    &--color3 {
      background-image: linear-gradient($color-lightgreen, $color-darkgreen);
      &--rev {
        background-image: linear-gradient($color-darkgreen, $color-lightgreen);
       }
    }
    &--color4 {
      background-image: linear-gradient($color-lightorange, $color-darkorange);
      &--rev {
        background-image: linear-gradient($color-darkorange, $color-lightorange );
       }
    }
  }
}

.we-offer-section {
  background-image: url("../../assets/images/Mandala.png");
  overflow: hidden;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;

  .container {
    margin: 0 auto;
  }
   p{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 500;
    line-height: 1.9;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
   }
}
 