<section class="home-section">
    <div class="company-video">
        <video autoplay="autoplay" muted="muted" loop="loop" class="company-video__content">
            <source src="../../assets/videos/home-video.mp4" type="video/mp4">
                Your browser is not supported!
        </video>
    </div>
</section>
<section class="work-process-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2> Our Work Process</h2>
        <hr class="u-title-hr">
    </div> 
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-3 col-lg-3">
               <div class="process-box">
                    <div class="process-box__icon process-box__icon--border1">
                        <img src="../../assets/images/Identifying-01.png">
                    </div>
                    <div class="process-box__text process-box--color1">
                        <hr class="process-box__text--hr">
                        <h5 class="process-box__text--title">Identifying</h5>
                        <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                    </div>
                    <div class="process-box__design1 process-box--color1--rev"></div>
                    <div class="process-box__design2 process-box--color1"></div>
               </div>         
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border2">
                             <img src="../../assets/images/Budgeting-01.png">
                        </div>
                        <div class="process-box__text process-box--color2">
                            <hr class="process-box__text--hr">
                            <h5 class="process-box__text--title">Estimating</h5>
                            <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                        </div>
                        <div class="process-box__design1 process-box--color2--rev"></div>
                        <div class="process-box__design2 process-box--color2"></div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border3">
                            <img src="../../assets/images/Designing-01.png">
                        </div>
                        <div class="process-box__text process-box--color3">
                                <hr class="process-box__text--hr">
                                <h5 class="process-box__text--title">Designing</h5>
                                <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                         </div>
                        <div class="process-box__design1 process-box--color3--rev"></div>
                        <div class="process-box__design2 process-box--color3"></div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border4">
                            <img src="../../assets/images/Executing-01.png">
                        </div>
                        <div class="process-box__text process-box--color4"> 
                            <hr class="process-box__text--hr">
                            <h5 class="process-box__text--title">Executing</h5>
                            <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                        </div>
                        <div class="process-box__design1 process-box--color4--rev"></div>
                        <div class="process-box__design2 process-box--color4"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="work-process-section--hr">
</section>
<section class="we-offer-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2>What we Offer</h2>
        <hr class="u-title-hr">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Important in any kind of celebration showing how happy we are.<br />
                    The vividness around motivates to spread happiness,<br />
                    so choosing the appropriate and attractive decoration excites the spirits.
                </p>
                <p>
                    Capturing memories in any kind of celebration to live in the same day in future<br />
                    can only be done by the choosing a right photographer
                </p>
                <p>
                    There are many other things that are needed to accomodate your shareholders<br />
                    of happiness to enjoy
                </p>
                <p>
                    Check if we can help you with that :)
                </p>
            </div>
        </div>
    </div>
</section>
