<section class="services-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2> Services </h2>
        <hr class="u-title-hr">
    </div> 
    <div class="container">
        <div class="row ">
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Decoration</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Photography & Videography</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">AV Setup & Lightning</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Catering</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Transportation</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Grooming & Makeover</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Venue</p>
            </div>
            <div class="col-md-3 project-col">
                <div class="project-box">
                </div>
                <p class="service-name">Accomodation</p>
            </div>
        </div>
    </div>
</section>